1. Write a function that takes two numbers and returns their sum.

In [9]:
def sum(a,b) :
    return a+b

In [10]:
sum(3,4)

7

2. Write a function that takes a string and returns it reversed.

In [11]:
s = ("khadar",'aimnxt')

In [12]:
def str(s):
   return s[::-1]

In [13]:
str(s)

('aimnxt', 'khadar')

3. Write a function that checks if a number is even or odd.

In [14]:
def test( i) :
        if i % 2 == 0:
            print(' even')
        else :
            print('odd')

In [15]:
test(8)

 even

4. Write a function that returns the factorial of a number.

In [16]:
def factorial(n):
    if n < 0:
        return "Factorial is not defined for negative numbers"
    elif n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1)

In [17]:
factorial(6)

720

5. Write a function that takes a list and returns the maximum element.

6. Print numbers from 1 to 10 using a for loop.

In [18]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

7. Print each character in a string using a for loop.

In [19]:
s =( "datascience", "aimnxt")
for i in s:
    print(i)

datascience
aimnxt

8. Write a program that sums all numbers in a list using a for loop.

In [20]:
l = [1, 2, 3, 4, 5]
sum = 0
for i in l:
    sum += i
print(sum)

15

9. Print the multiplication table of a given number using a for loop.

In [21]:
n = 5
for i in range(1, 11):
    print(f"{n} x {i} = {n*i}")

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

10. Write a program that prints all even numbers from 1 to 50.

In [22]:
for i in range(1, 51):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

11. Print numbers from 1 to 10 using a while loop.

In [23]:
i = 1
while i <= 10:
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10

12. Keep taking input from the user until they type "exit".

In [25]:
while True:
    user_input = input("Enter something (type 'exit' to quit): ")
    if user_input.lower() == "exit":
        print('exit')
        break

Enter something (type 'exit' to quit):  khadar
Enter something (type 'exit' to quit):  aimnxt
Enter something (type 'exit' to quit):  exit

exit

13. Write a program that finds the sum of digits of a number using a while loop.

14. Guess the number game: Keep asking the user until they guess the correct number.

In [26]:
n = 7
while True:
    guess = int(input("Guess the number: "))
    if guess == n:
        print("Correct!")
        break
    else:
        print("Try again.")

Guess the number:  5

Try again.

Guess the number:  6

Try again.

Guess the number:  7

Correct!

15. Print the Fibonacci sequence up to n terms using a while loop.

In [27]:
n = 10
a, b = 0, 1
count = 0
while count < n:
    print(a)
    a, b = b, a + b
    count += 1

0
1
1
2
3
5
8
13
21
34

16. Write a function that takes variable number of arguments using *args and returns their sum.

In [13]:
def test(*args):
    return sum(args)

In [14]:
test(1,2,3)

6

17. Write a program that unpacks a list into separate variables using *.

In [30]:
nums = [1, 2, 3, 4, 5]
a, *b = nums
print(a)  # 1
print(b)  # [2, 3, 4, 5]

1
[2, 3, 4, 5]

18. Create a function that multiplies a number with itself n times using * (e.g., 2 * 3 = 6).

In [31]:
def multiply(n, times):
    return n * times

In [32]:
multiply(3,2)

6


19. Use * to combine two lists into one:

a = [1, 2]
b = [3, 4]

combined = [*a, *b]

In [33]:
a = [1, 2]
b = [3, 4]
combined = [*a, *b]
print(combined)

[1, 2, 3, 4]

20. Write a function that checks whether a string is a palindrome.

In [34]:
def palindrome(s):
    return s == s[::-1]

In [35]:
palindrome('khadar')

False

In [36]:
palindrome('madam')

True

21. Write a function that returns the number of vowels in a given string.

In [2]:
def vowels(s):
    vowels = "aeiouAEIOU"
    return sum(char in vowels for char in s)

In [3]:
vowels("Hello World!")

3

22. Write a function that takes a list of numbers and returns only the even numbers.

In [40]:
def evens(nums):
    return [num for num in nums if num % 2 == 0]

print(evens([1,2,3,4,5]))

[2, 4]

23. Write a function that converts Celsius to Fahrenheit.

24. Write a function that takes a string and returns the number of words in it.

In [41]:
def words(s):
    return len(s.split())

In [42]:
words('hello how are you')

4

25. Write a function that uses *args and prints all values line by line with their index.

In [43]:
def print_args(*args):
    for i, val in enumerate(args):
        print(f"{i}: {val}")

print_args("a", "b", "c")

0: a
1: b
2: c

26. Write a function that takes *args and returns their average.

In [1]:
def average(*args):
    return sum(args) / len(args) if args else 0

print(average(1, 2, 3))  # 2.0

2.0

27. Keep asking the user to enter a positive number. Stop when they enter a negative number.

In [4]:
while True:
    n = int(input("Enter positive number (negative to quit): "))
    if n < 0:
        break

Enter positive number (negative to quit):  7
Enter positive number (negative to quit):  -9

28. Write a program to reverse a number using a while loop.

In [5]:
num = 12345
rev = 0
while num > 0:
    rev = rev * 10 + num % 10
    num //= 10
print(rev)

54321

29. Find the first number divisible by both 3 and 5 greater than 100 using while.

In [6]:
i= 101
while True:
    if i % 3 == 0 and i % 5 == 0:
        print(i)
        break
    i += 1

105

30. Use a while loop to check if a number is a prime.

In [7]:
# Check if n is prime by counting divisors
n = int(input("Enter a number: "))
i = 1
c = 0

while i <= n:
    if n % i == 0:
           # Optional: prints each divisor
        c += 1     # Count it
    i += 1

# A prime has exactly 2 divisors: 1 and itself
if c == 2:
    print("prime")
else:
    print("not prime")

Enter a number:  3

prime

31. Create a countdown timer using while, e.g., from 10 to 1.

In [8]:
count = 10
while count > 0:
    print(count)
    count -= 1
print("Liftoff!")

10
9
8
7
6
5
4
3
2
1
Liftoff!

32. Print all elements in a nested list.

In [10]:
nested = [[1, 2], [3, 4], [5]]
for sub in nested:
    for item in sub:
        print(item)

1
2
3
4
5

33. Count how many times each character appears in a string.

In [9]:
s = "hello"
counts = {}
for char in s:
    counts[char] = counts.get(char, 0) + 1
print(counts)

{'h': 1, 'e': 1, 'l': 2, 'o': 1}

34. Use a for loop to find the largest number in a list without using max().

In [11]:
nums = [4, 2, 9, 1]
largest = nums[0]
for num in nums:
    if num > largest:
        largest = num
print(largest)  # Output: 9

9

35. Create a list of squares for numbers from 1 to 10 using a loop.

In [12]:
squares = []
for i in range(1, 11):
    squares.append(i**2)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]